/* Reset */
html,body,div,span,object,iframe,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{background:transparent;font-size:100%;margin:0;padding:0;vertical-align:baseline}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{border:0;border-top:1px solid #ccc;display:block;height:1px;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* General styles*/
::selection{
	background:#475FC9;
	color:#FFF;
}
::-moz-selection{
	background-color:#475FC9;
	color:#FFF;
}
::-moz-focus-inner{
	border:0;
	margin:0;
	padding:0;
}
a,a:visited{
	color:#2e2e2e;
	outline:none;
	text-decoration:none;
}
a:hover{
	color:#666;
	outline:none;
	text-decoration:none;
}
h1, h2, h3{
	font-family: 'Nunito', sans-serif;
	-webkit-font-smoothing: antialiased;
	border:0;
	margin:0;
	padding:0;
}

body{
	-webkit-font-smoothing:antialiased;
	color:#2D2D2D;
	font-family: 'Nunito', sans-serif;
	line-height:1;
	word-wrap:break-word;
	overflow-x:hidden;background-image:none;
	background-color:#FFF;
	margin:0;
	padding:0;
	overflow-x:hidden;
}

p {
	padding-bottom: 1.6em;
}

/* Header */
.header_wrapper {
	height: 830px;
	width: 100%;
	background-color: #B1C9C1;
	background-image:url(../images/header_background.jpg);
	background-size: cover;
}
.inner_header_wrapper {
	width: 911px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 130px;
	text-align: center;
}
.header_app_icon {
	width: 298px;
	height: 57px;
	margin-left: auto;
	margin-right: auto;
	background-image:url(../images/header_mpharma_logo.png);
	background-size: 298px;
}
.inner_header_wrapper h1 {
	font-weight: 300;
	font-size: 36px;
	color: #FFF;
	padding-top: 20px;
}
.inner_header_wrapper p {
	color: #DFF0FF;
	font-size: 20px;
	font-weight: 300;
	padding-top: 15px;
	padding-bottom: 20px;
}
a.appstore_button {
	background-color: rgba(255,255,255,0.25);
	color: #FFF;
	padding-left: 70px;
	padding-right: 35px;
	padding-top: 24px;
	padding-bottom: 23px;
	border-radius: 50px;
	margin-bottom: 12px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 10px 9px;
	background-size: 46px 46px;
	font-weight: 300;
	font-size:16px;
	transition: all 0.3s ease-in; 
}


a.appstore_button.iphone {
	background-image: url(../images/btn-apple-ball.png);
}

a.appstore_button.android {
	background-image: url(../images/btn-android-ball.png);
	margin-bottom: 0px;
}

a.appstore_button:hover {
	background-color: #335452;
}
.header_iphone {
	width: 911px;
	height: 417px;
	background-image: url(../images/header_iphone.png);
	background-repeat:no-repeat;
	margin-top: 45px;
}

/* Features section */
.features_section {
	background-color: #FFF;
	width: 100%;
	float: left;
	padding-bottom: 50px;
}
.features_inner_section {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 90px;
}
.features_inner_section h2 {
	font-size: 28px;
	color: #707070;
	font-weight: 300;
	padding-bottom: 80px;
}
.features_inner_section ul li h2  {
	font-size: 21px;
	padding-bottom: 20px;
	color: #335452;

}
.features_inner_section ul {
	float: left;
	width: 100%;
}
.features_inner_section ul li {
	width: 380px;
	float: left;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 60px;
	list-style: none;
}
.features_inner_section ul li .features_icon {
	width: 36px;
	height: 36px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	background-image:url(../images/feature_icons.png);
	background-repeat:no-repeat;
}
.features_icon.rocket {
	background-position: 0px -9px;
}
.features_icon.world {
	background-position: -1px -48px;
}
.features_icon.dribbble {
	background-position: 0px -85px;
}
.features_icon.timer {
	background-position: 0px -124px;
}
.features_icon.book {
	background-position: 0px -165px;
}
.features_icon.leaf {
	background-position: 0px -205px;
}
.features_inner_section ul li p {
	font-size: 16px;
	color: #707070;
	line-height: 22px;
	font-weight: 300;
}

/* Lower section one */
.lower_section_one {
	width: 100%;
	float: left;
	background-color: #90A7A0;
}
.lowers_section_inner_wrapper {
	width: 880px;
	margin-left: auto;
	margin-right: auto;
	height: 580px;
	padding-top: 110px;
}
.lower_section_one .lower_section_left_column {
	width: 523px;
	height: 434px;
	float: left;
}
.iphone_section_one {
	width: 423px;
	height: 734px;
	background-image:url(../images/iphone_section_1.png);
	background-repeat:no-repeat;
}
.lower_section_one .lower_section_right_column {
	width: 323px;
	float: left;
	padding-top: 0px;
	padding-left: 20px;
}
.lower_section_one .lower_section_right_column h3 {
	font-size: 36px;
	font-weight: 300;
	line-height: 46px;
	color: #FFF;
	padding-bottom: 10px;
}
.lower_section_one .lower_section_right_column p {
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	color: #FFF;
}

/* Lower section two */
.lower_section_two {
	width: 100%;
	float: left;
	background-color:#335452;
}
.lower_section_two .lower_section_right_column {
	width: 523px;
	height: 534px;
	float: left;
}
.iphone_section_two {
	width: 423px;
	height: 534px;
	background-image:url(../images/iphone_section_2.png);
	background-repeat:no-repeat;
}
.lower_section_two .lower_section_left_column {
	width: 323px;
	float: left;
	padding-right: 30px;
	padding-top: 0px;
}
.lower_section_two .lower_section_left_column h3 {
	font-size: 36px;
	font-weight: 300;
	line-height: 46px;
	color: #FFF;
	padding-bottom: 10px;
}
.lower_section_two .lower_section_left_column p {
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	color: #FFF;
}

/* Final call to action */
.final_cta_section {
	width: 100%;
	float: left;
	background-color: #F4F4F4;
	padding-top: 80px;
	padding-bottom: 70px;
	text-align: center;
}
.final_cta_section h4 {
	font-size: 28px;
	font-weight: 300;
	color: #5F5F5F;
	margin-bottom: 30px;
	line-height: 1.3em;
}

.final_cta_section a.appstore_button {
	background-color: rgba(0,0,0,0.5);
	color: #FFF;
}
.final_cta_section a.appstore_button:hover {
	background-color: #335452;
}

/* Footer */
.footer {
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 40px;
}
.inner_footer_wrapper {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
a.twitter_social_icon {
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 10px;
	background-image:url(../images/twitter_icon.png);
	background-repeat:no-repeat;
}
a.facebook_social_icon {
	width: 32px;
	height: 32px;
	float: left;
	background-image:url(../images/facebook_icon.png);
	background-repeat:no-repeat;
}
.social_icons_wrapper {
	width: 74px;
	height: 32px;
	margin-left: auto;
	margin-right: auto;
}
.footer_links {
	width: 100%;
	float: left;
	margin-top: 20px;
	font-size: 14px;
	color: #A3A3A3;
}
.footer_links a {
	font-size: 14px;
	color: #A3A3A3;
	margin-left: 10px;
	margin-right: 10px;
	font-weight:300;
}
.footer_links a:hover {
	color: #333;
}
.footer_links p {
	margin-top:15px;
	font-weight:300;
}

.videoWrapper {
	position: relative;
	padding-bottom: 50%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* Responsive */
@media screen and (max-width: 1000px) {
	.features_inner_section {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding-top: 90px;
	}
}

@media screen and (max-width: 911px) {
	.header_wrapper {
		height: auto;
		float: left;
		background-size: cover;
	}
	.inner_header_wrapper {
		width: 100%;
	}
	.header_iphone {
		width: 100%;
		background-size: 100%;
		float: left;
		background-position: bottom center;
	}
}

@media screen and (max-width: 880px) {
	.lowers_section_inner_wrapper {
		padding-top: 0px;
		width: 100%;
		height:auto;
	}
	.lower_section_one .lower_section_left_column {
		width: 100%;
		padding-bottom: 20px;
		padding-left: 0px;
		padding-right: 0px;
		height: auto;
	}
	.lower_section_one .lower_section_right_column {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 95px;
	}
	.lower_section_two .lower_section_left_column {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.lower_section_two .lower_section_right_column {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		height: auto;
		padding-bottom: 00px;
	}
	.iphone_section_one {
		margin-left:auto;
		margin-right:auto;
	}
	.iphone_section_two {
		margin-left:auto;
		margin-right:auto;
	}
	.lower_section_two .lower_section_left_column h3 {
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}
	.lower_section_one .lower_section_right_column h3 {
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}
	.lower_section_one .lower_section_right_column p {
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}
	.lower_section_two .lower_section_left_column p {
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}
	.final_cta_section h4 {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media screen and (max-width: 840px) {
	.header_iphone {
		height:380px;
	}
}

@media screen and (max-width: 645px) {
	.header_iphone {
		margin-top: 25px;
		height:300px;
	}
	.iphone_section_one {
		width: 254px;
		background-size: 100%;
		background-position: center top;
		height: 440px;
		background-image: url(../images/iphone_section_1.png);
		background-repeat: no-repeat;
	}
	.iphone_section_two {
		width: 254px;
		background-size: 100%;
		background-position: center top;
		height: 440px;
		background-image: url(../images/iphone_section_1.png);
		background-repeat: no-repeat;
	}
	.inner_header_wrapper {
		padding-top: 80px;
	}

	.inner_header_wrapper h1 {
		font-size: 26px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.inner_header_wrapper p {
		font-size: 16px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.header_app_icon {
	width: 210px;
	height: 40px;
	background-size: 210px;
}

	.lower_section_one .lower_section_right_column h3 {
		font-size: 26px;
		font-weight: 300;
		line-height: 38px;
	}
	.lower_section_two .lower_section_left_column h3 {
		font-size: 26px;
		font-weight: 300;
		line-height: 38px;
	}
	.features_inner_section h2 {
		font-size: 22px;
	}

	.features_inner_section ul li h2  {
		font-size: 18px;
		padding-bottom: 20px;
	}

	.final_cta_section h4 {
		font-size: 20px;
	}
}

@media screen and (max-width: 500px) {
	.features_inner_section {
		width: 100%;
	}
	.features_inner_section ul li {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media screen and (max-width: 445px){
	.header_iphone {
		height: 220px;
	}
	a.appstore_button {
		background-position: 10px 8px;
		font-size: 14px;
	}
}

@media screen and (max-width: 320px){
	.header_iphone {
		height: 170px;
	}
}